.data {
    width: 400px;
    /* height: 185px; */
    border: 1px solid black;
    margin: 0px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

#liveDiv > div {
  width: 400px;
  border: 1px solid black;
  margin: 0px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

#containerDiv, #liveDiv {
    display: flex;
    left: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#live, #about {
  color: #2196F3;
  background-color: white;
  border-width: 0px;
  /* font-family: courier, serif; */
}

#home {
  color: white;
  background-color: #2196F3;
  border-width: 0px;
}

#searchButton {
  color: green;
  background-color: white;
  border-color: green;
}



/* .ui-button {
    background-color: blue;
    color: white;
} */

/* img {
    height: 50px;
    width: 50px;
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* Style the button that is used to open and close the collapsible content */
#collapsible {
  cursor: pointer;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, #collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  /* background-color: #f1f1f1; */
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}