#search {
  text-align: right;
}

#bar {
  position:relative;
  /* margin-top: 75px; */
}

#cardsiv {
  margin-top: 10px;
  justify-content: space-between;
  /* background-color: white; */
}

#aboutDiv > img, p {
  margin-left: 10px;
}

.parallax {
  /* The image used */
  background-image: url("snl.png");
  background-color: lightgray;
  box-sizing: border-box;
  min-height: 1000px;
  /* 100vh? */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 3%;
  height: 25%;
  font-size: 30px;
  color:white;
  box-sizing: border-box;
}

.yoav {
  height: 100px;
  width: 100px;
  position:relative;
  margin-top: 10px;
}

.krypt {
  height: 110px;
  width: 110px;
  position: absolute;
  top: 10px;
  right: 0;
  border-bottom: 1px solid black;
}

.bar {
  margin-top: 10px;
}

.symbolToggle {
  display: flex;
  justify-content: space-between;
}

.cardSymbol {
  font-size: x-large;
  font-weight: bold;
  line-height: 25px;
}

#progressbar {
  position: absolute;
  /* width: 60px;  */
  /* min-width: 400px; */
  left: 20%;
}

.data {  
  box-sizing: border-box; 
    width: 33%;
    border: 0.5px solid gray;
    margin: 1px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

#aboutDiv {
  display: none;
  margin-top: 10px;
  background-color: white;
  /* justify-content: space-between; */
  box-sizing: border-box;

}

#liveDiv {
  margin-top: 10px;
  /* background-color: white; */
  box-sizing: border-box;
}

#progressbar {
  position: absolute;
  top: 300px;
  width: 60%; 
  min-width: 400px;
  left: 20%;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

#live, #about {
  color: #2196F3;
  background-color: white;
  border-width: 0px;
  /* font-family: courier, serif; */
}

#home {
  color: white;
  background-color: #2196F3;
  border-width: 0px;
}

#searchButton {
  color: green;
  background-color: white;
  border-color: green;
}

#searchInput {
  position: relative;
  vertical-align: middle
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  outline: none;
  position: relative;
  margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, #collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* padding: 0 18px; */
  display: none;
  overflow: hidden;
  /* background-color: #f1f1f1; */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /*position: fixed;*/ /*Stay in place*/
  z-index: 1; /* Sit on top */
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; Full width */
  /* height/: 100%; Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  /* color: #ffffff; */
  color: #2196F3;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
